<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-BR" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Knowledge Quest Adventures - Piercing the Veil of Ignorance</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</head>
		
	<body>

		<div id="main">
			<div id="header">
				<div class="logo"><h1>Knowledge Quest Adventures - Piercing the Veil of Ignorance</h1></div>
				<div class="advertising">
					<div class="corra_logo"><img src="/kqa/Application/View/img/corra_logo.png" width="235" height="147" alt="Corra Studios" title="Corra Studios" /></div>
				</div>
			</div>
			
			<div id="top">
				<div class="charinfo">
					<div class="goldcoins">GOLD COINS: <div id="gold"><?php echo $gold; ?></div></div>
					<div class="charname tex-stroke"><?php echo $char_name; ?></div>
					<div class="tokens">TOKENS: <div id="tokens"><?php echo $tokens; ?></div></div>
				</div>
				<div class="otherinfo">
					<div class="turn" id="turn"></div>
					<div class="dungeonname">
						<div class="name" id="area_name"><?php echo $area_name; ?></div>
						<div class="level" id="level"></div>
						<div class="room" id="room"></div>
					</div>
					<div class="time" id="box_counter"></div>
				</div>
			</div>
			
			<div id="content">
				<div class="left">
					<div class="tabs">CHARACTER</div>
					<div class="tabs">ITENS</div>
					<div class="tabs">STATS</div>
					<div class="boxleft" id="boxleft"><?php echo $character; ?></div>
				</div>
				<!-- *** MAP *** -->
				<input type="hidden" name="id_parentmap" id="id_parentmap" value="<?php echo $id_parentmap; ?>" />
				<input type="hidden" name="id_areamap" id="id_areamap" value="<?php echo $id_areamap; ?>" />
				<input type="hidden" name="target" id="target" value="" />
				<input type="hidden" name="tot_monsters" id="tot_monsters" value="" />
				<input type="hidden" name="current_monster" id="current_monster" value="" />
				<input type="hidden" name="step" id="step" value="" />
				<input type="hidden" name="tot_steps" id="tot_steps" value="" />
				<!-- *** PLAYER *** -->
				<input type="hidden" name="player_hp" id="player_hp" value="<?php echo $player_hp; ?>" />
				<input type="hidden" name="player_min_dmg" id="player_min_dmg" value="<?php echo $player_min_dmg; ?>" />
				<input type="hidden" name="player_max_dmg" id="player_max_dmg" value="<?php echo $player_max_dmg; ?>" />
				<input type="hidden" name="player_me" id="player_me" value="<?php echo $player_me; ?>" />
				<input type="hidden" name="player_ds" id="player_ds" value="<?php echo $player_ds; ?>" />
				<input type="hidden" name="timebonus" id="timebonus" value="<?php echo $timebonus; ?>" />
				<input type="hidden" name="tot_treasure" id="tot_treasure" value="" />
				<input type="hidden" name="tot_xp" id="tot_xp" value="" />
				<input type="hidden" name="tot_gold" id="tot_gold" value="" />
				<input type="hidden" name="tot_token" id="tot_token" value="" />

				<div class="center" id="center">
					<div class="tile_info not_shown" id="tile_info"></div>
					<div class="map_area" id="map_area" style="margin-left: 130px;">
						<?php echo $map; ?>
					</div>
				</div>
				<div class="right">
					<div class="boxright" id="boxright">
						<div class="monster_row">
							<div class="monsters_tit">SEARCH</div>
						</div>
						Find map: <input type="text" name="mapsearch" id="mapsearch" value="" class="tiny_text_input" />
						<?php echo $course_list; ?>
					</div>
					<div class="boxright"></div>
				</div>
			</div>
			
			<div id="bottom">
				<div class="left">
					<div class="boxleft"></div>
				</div>
				<div class="center" id="center">
					<div class="boxcenter"></div>
				</div>
				<div class="right">
					<div class="boxright"></div>
				</div>
			</div>
			
			<div id="footer"></div>
			
		</div>

	</body>

</html>