<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-BR" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Knowledge Quest Adventures - Piercing the Veil of Ignorance</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</head>
		
	<body>

		<div id="main">
			<div id="header">
				<div class="logo"><h1>Knowledge Quest Adventures - Piercing the Veil of Ignorance</h1></div>
				<div class="advertising">
					<div class="corra_logo"><img src="/kqa/Application/View/img/corra_logo.png" width="235" height="147" alt="Corra Studios" title="Corra Studios" /></div>
				</div>
			</div>
			
			<div id="top">
				<div class="charinfo">
					<div class="goldcoins">GOLD COINS: 172</div>
					<div class="charname tex-stroke">CHARACTER NAME</div>
					<div class="tokens">TOKENS: 45</div>
				</div>
				<div class="otherinfo">
					<div class="turn">TURN: </div>
					<div class="dungeonname">
						<div class="name">DUNGEON NAME</div>
						<div class="questions">Dungeon Questions By:</div>
						<div class="level">Level 1 of 1</div>
						<div class="room">Room 1 of 1</div>
					</div>
					<div class="time">TIME: </div>
				</div>
			</div>
			
			<div id="content">
				<div class="left">
					<div class="tabs">CHARACTER</div>
					<div class="tabs">ITENS</div>
					<div class="tabs">STATS</div>
					<div class="boxleft">BOX LEFT</div>
				</div>
				<div class="center" id="center">
					<div class="box">
						<h3 class="tex-stroke">QUESTION</h3>
						<div class="question alpha60">Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.</div>
					</div>
					<div class="box">
						<h3 class="tex-stroke">ANSWERS</h3>
						<div class="answers alpha60">Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.</div>
					</div>
					<div class="box">
						<div class="response">
							RESPONSE: A<br/>
							Text goes here.<br/>
							<img src="/kqa/Application/View/img/btn-continue.png">
						</div>
						<h3 class="tex-stroke">REPORT</h3>
						<div class="report alpha60">
							answer is incorrect.<br/>
							question too easy for level.<br/>
							question too hard for level.<br/>
						</div>
					</div>
					<div class="box">
						<h3 class="tex-stroke">COMBAT</h3>
						<div class="combat alpha60">Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.<br/>Text goes here.</div>
					</div>
				</div>
				<div class="right">
					<div class="boxright">BOX RIGHT 1</div>
					<div class="boxright">BOX RIGHT 2</div>
				</div>
			</div>
			
			<div id="bottom">
				<div class="left">
					<div class="boxleft">BOX LEFT</div>
				</div>
				<div class="center" id="center">
					<div class="boxcenter">BOX CENTER</div>
				</div>
				<div class="right">
					<div class="boxright">BOX RIGHT</div>
				</div>
			</div>
			
			<div id="footer">FOOTER</div>
			
		</div>

	</body>

</html>