					<!-- *** GENERAL *** -->
					<input type="hidden" name="id_course" id="id_course" value="" />
					<input type="hidden" name="monster_treasure" id="monster_treasure" value="" />
					<input type="hidden" name="id_answer" id="id_answer" value="" />
					<input type="hidden" name="id_question" id="id_question" value="" />
					<input type="hidden" name="time_limit" id="time_limit" value="" />
					<input type="hidden" name="turn" id="turn" value="" />
					<input type="hidden" name="correct" id="correct" value="" />
					<!-- *** MONSTER *** -->
					<input type="hidden" name="id_monster" id="id_monster" value="" />
					<input type="hidden" name="monster_hp" id="monster_hp" value="" />
					<input type="hidden" name="monster_min_dmg" id="monster_min_dmg" value="" />
					<input type="hidden" name="monster_max_dmg" id="monster_max_dmg" value="" />
					<input type="hidden" name="monster_me" id="monster_me" value="" />
					<input type="hidden" name="monster_ds" id="monster_ds" value="" />
					<input type="hidden" name="monster_knowledge" id="monster_knowledge" value="" />
					<div class="box">
						<h3 class="tex-stroke">QUESTION</h3>
						<div class="question alpha60" id="box_question"><?php //echo $question; ?></div>
					</div>
					<div class="box">
						<h3 class="tex-stroke">ANSWERS</h3>
						<div class="answers alpha60" id="box_answers"><?php //echo $answers; ?></div>
					</div>
					<div class="box">
						<div class="response">
							<!-- RESPONSE: A<br/>
							Text goes here.<br/-->
							<div id="box_run_round"><img src="/kqa/Application/View/img/btn-continue.png"></div>
							<div id="box_gotwrong" class="not_shown"><img src="/kqa/Application/View/img/btn-continue.png"></div>
						</div>
						<h3 class="tex-stroke">REPORT</h3>
						<div class="report alpha60" id="box_rightanswer"></div>
					</div>
					<div class="box">
						<h3 class="tex-stroke">COMBAT</h3>
						<div class="combat alpha60">Text goes here.<br/>Text goes here.</div>
					</div>
