<html>
	<head>
		<title>Time is up</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['this_css']; ?>
	</head>
	<body leftmargin="0" rightmargin="0" bottommargin="0" topmargin="0" bgcolor="#1D1C19">
		<div class="modalmessage">
			<br>
			<div class="title">Time is up</div>
			<div class="message">
				<br>
				<br>
				You seem to have been too slow to present an answer.<br>
				<br>
				Therefore you'll suffer a penalty of 1 damage to your Hit Points.<br>
				<br>
				<br>
				<a href="#" id="close_fancy">CLOSE</a>
			</div>
		</div>
	</body>
</html>