<html>
	<head>
		<title>Invite a Friend</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['this_css']; ?>
	</head>
	<body leftmargin="0" rightmargin="0" bottommargin="0" topmargin="0" bgcolor="#1D1C19">
		<div class="modalmessage">
			<br>
			<div class="title">Invite a Friend</div>
			<div class="message" id="message">
				<br>
				<br>
				When a friend you invited starts playing the game,<br>
				you get a Level X item as a reward.<br>
				<br>
				<br>
				email: <input type="text" name="emailfriend" id="emailfriend" class="" />
				<br><br>
				<img class="pointer" id="invitefriend" src="/kqa/Application/View/img/btn-continue.png" width="95" height="28" alt="Continue" title="Continue" />
			</div>
			<br><br>
			<a href="#" id="close_fancy">CLOSE</a>
		</div>
	</body>
</html>