<html>
	<head>
		<title>You were killed</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['this_css']; ?>
	</head>
	<body leftmargin="0" rightmargin="0" bottommargin="0" topmargin="0" bgcolor="#1D1C19">
		<div class="modalmessage">
			<br>
			<div class="title">You have been killed</div>
			<div class="message">
				<br>
				<br>
				Appearently your enemies outsmarted you.<br>
				<br>
				What do you want to do now?<br>
				<br>
				<br>
				<a href="#" id="back_to_localmap" key="<?php echo $id_parentmap; ?>">Go back to the LOCAL AREA</a> where you were before.<br>
				<!--br>
				<?php echo $talisman; ?>
				<a href="#">BUY AND USE</a> a Taliman of Resurrection<br -->
			</div>
		</div>
	</body>
</html>