@font-face {
  font-family: GameFont; /* Edit this line */
  src: url('/kqa/Application/View/fonts/BOOKOSB.TTF'); /* Edit this line */
}
.main_banner {
	margin-left:	auto;
	margin-right:	auto;
	width:			625px;
	text-align:	 	center;
}

.main_title_img {
	float:		right;
	margin-top:	20px;;
}

.loginform {
	
	margin-top:		35px;
	margin-left:	auto;
	margin-right:	auto;
	padding:		10px;
	width:			400px;
	text-align:		center;
	background-color:	#42413E;
	color:				#FFF;
	text-align:			center;
	border:				2px solid #ac8f0d;
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
}

.login_title {
	font-family:	GameFont, Arial;
	font-size:		16px;
	color:			#FECB00;
}

#login_result {
	font-family:	Arial, Helvetica, sans-serif;
	color:			#FFF;
	font-size:		12px;
}

.captions {
	float:	left;
	width:	150px;
}

.captions .login_item {
	margin-top:		2px;
	padding-top:	4px;
	text-align:		right;
}

.fields {
	float:	right;
	width:	200px;
}

.fields .login_item {
	margin-top:	4px;
}

.login_input {
	width:			180px;
	border-width:	0px;
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
	color:			#000;
}

.bt_continue {
	padding-top:	55px;
}